.titleTable{
  text-align: center;
  margin-bottom: 15px;
}

.table [class*=ant-table-cell]:first-child {
  padding-left: 10px;
  padding-right: 10px;
}

/* Search container */
.searchContainer{
  display: flex;
  align-items: baseline;
  margin-bottom: 12px;
  width: 400px;
  margin-left: auto; 
}
.searchContainer>input{
  max-width: 300px;
  margin-left: auto; 
}

.cardButton{
  inline-size: -webkit-fill-available;
  margin-top: 7px;
  color:#3c5438;
  border-color: #3c5438;
}
.searchContainer>* {
  margin-left: 12px;
}

/* Context menu right click */
@media(max-width: 800px){
  .searchContainer{
    width: 100%;
    flex-direction: column; 
  }
  .searchContainer>*{
    width: 100%;
    margin-bottom: 5px;
    margin-left: auto; 
  }
  .searchContainer>button{
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto; 
  }
}

.menu{
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
  position: absolute;
}

.submitButtons{
  width:100%;
  display:flex;
   justify-content:space-between
}

.selectedRow {
  background-color: #f4f8f1;
  box-shadow: 0 0 10px #f4f8f1;
  color: #3D5438;
}