
.inputField{
    float: right;
    text-align: left;
    max-width: 320px;
  }
  
  .selectField{
    float: center;
    text-align: center;
    max-width: 100%;
    width: 470px;
  }
  
  .formField{
    width: 100%;
  }

  .cardButton{
    float: center;
    margin-top: 7px;
    border-color: #3c5438;
    max-width: 100%;
    width: 470px;
  }