.mainContainer{
    border-radius: 10px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.25);
    width: max-content;
    display: flex;
    align-self: center;
    margin-top: 25px;
    flex-direction: column;
    padding: 0 130px;
    background-color: rgb(240, 245, 240);
    margin-bottom: 45px;
}

.content{
    margin-top: 30px;
    display: flex;
    width: 100%;
}

.leftPartWrapper{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.statusText{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}

.progressBar{
    display: flex;
    width: max-content;
    align-self: center;
}

.title{
    width: max-content;
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 1.5em;
}

.userFieldsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.tableWrapper{
/*    width: max-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table {
    width: 100%;
    border-collapse:collapse;
    font-size: 15px;
    margin-bottom: 37px;
}

tr:not(:first-child):nth-of-type(odd) td{
   padding-top: 25px;
}

tr td{
    font-family: Verdana;
}

.td{
    width: max-content;
    padding: 0;
    padding: 0 65px;
}

tr:nth-of-type(even) span{
    padding: 7px 13px;
    border-radius: 6px;
    background-color: rgba(210, 210, 210, 0.5);
    display: block;
    width: 200px;
    text-align: center;
}

.btn{
    outline: none !important;
    border: 0 !important;
    border-radius: 4px;
    background-color: #3c5438 !important;
    color: #dfe7f1 !important;
    width: max-content;
    padding: 6px 20px;
    margin: 0 auto 30px auto;
}

.btn:hover{
transform: scale(1.05);
}