    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 0 0px;
    }
    
    .wrapperCol {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 20px;
    }
    
    .wrapperImg {
        width: 41%;
        height: 470px;
        border-radius: 10px;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }
    
    .line {
        background: #3C5438;
        width: 100%;
        height: 10.12px;
        margin-bottom: 5px;
    }
    
    .button {
        margin-top: 10px;
        background: #3C5438;
        color: white;
        border: none;
        width: 138px;
        height: 40px;
        outline: none;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        align-items: center;
    }
    
    .buttonInside {
        margin-top: 10px;
        background: #3C5438;
        color: white;
        border: none;
        width: 200px;
        height: 40px;
        outline: none;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        align-items: center;
    }
    
    .button:hover {
        border: none;
        outline: none;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    .buttonCansel {
        width: auto;
        height: 40px;
        outline: none;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .wrapper2,
    .wrapper3 {
        width: calc(50% - 30px);
        height: 200px;
        border-radius: 10px;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 40px;
    }
    
    .wrapper4,
    .wrapper5 {
        width: calc(50% - 30px);
        height: 229px;
        border-radius: 10px;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 40px;
    }
    
    .wrapper2:hover,
    .wrapper3:hover,
    .wrapper4:hover,
    .wrapper5:hover,
    .wrapperImg:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .wrapper2,
    .wrapper3,
    .wrapper4,
    .wrapper5 {
        margin: 20px 0px 20px 20px;
    }
    
    .modal {
        text-align: center;
        align-self: center;
    }
    
    #button {
        align-items: center;
        margin: 10px auto;
        display: inline-block;
        margin: 10px 0 0 65px;
        flex-grow: 1;
    }
    
    .sectionTitle {
        text-align: center;
    }
    
    .spaceWrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: white;
    }
    
    .loader {
        position: fixed !important;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    h1 {
        color: rgba(0, 0, 0, 0.65);
        font-weight: 600;
        font-size: 21px;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
    }
    
    h2 {
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    
    @media (max-width: 767px) {
        .wrapper {
            flex-direction: column;
        }
        .wrapperImg {
            width: 100%;
            padding: 0;
            margin: 0 0 10px;
            text-align: center;
        }
        .wrapperCol,
        .wrapper2,
        .wrapper3,
        .wrapper4,
        .wrapper5 {
            width: 100%;
            margin: 0;
        }
        .wrapper2,
        .wrapper3,
        .wrapper4,
        .wrapper5 {
            margin: 10px 0;
        }
    }