.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.wrapperCol {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.wrapperImg {
    width:  calc(100% - 60px);
    min-height: 580px;
    height: auto;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    padding-top: 20px;
}

.line {
    background: #3C5438;
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
}

#line{
    margin-bottom: 125px;
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    background: #3C5438;
    justify-content: center;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.buttonSmall {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 125px;
    background: #3C5438;
    justify-content: center;
    color: white;
    border: none;
    width: 51%;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.buttonSmallCalendar {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    background: #3C5438;
    justify-content: center;
    color: white;
    border: none;
    width: 40%;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.buttonSmallFooter {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 115px;
    background: #3C5438;
    justify-content: center;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.buttonInside {
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    width: 170px;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#subcribeButton{
    width: auto;
}

.button:hover,
.buttonCansel:hover {
    border: none;
    outline: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.buttonCansel {
    width: auto;
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5 {
    width: calc(50% - 30px);
    min-height: 280px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.wrapper2:hover,
.wrapper3:hover,
.wrapper4:hover,
.wrapper5:hover,
.wrapperImg:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5,
.wrapperImg {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5 {
    margin: 0px 0px 20px 20px;
}

.modal {
    text-align: center;
    align-self: center;
}

#button {
    align-items: center;
    margin: 10px auto;
    display: inherit;
    flex-grow: 1;
}

.sectionTitle {
    text-align: center;
}

.modalContent{
    text-align: center;
    margin-bottom: 5px;
}

.eventTag{
    margin-bottom: 8px;
}

h1 {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    font-size: 21px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

.icon{
    display: flex;
    justify-content: center;
}

h2 {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

@media (max-width: 930px) {
    .wrapper {
        flex-direction: column;
    }
    .wrapperImg {
        width: 100%;
        padding: 0;
        height: auto;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 0 0 10px;
        text-align: center;
    }
    .wrapperCol,
    .wrapper2,
    .wrapper3,
    .wrapper4,
    .wrapper5 {
        width: 100%;
        margin: 0;
    }
    .wrapper2,
    .wrapper3,
    .wrapper4,
    .wrapper5 {
        margin: 10px 0;
    }
    .avatar{
        height: 200px !important;
        width: 200px !important;
    }
}