.menu{
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
  position: absolute;
}
.searchContainer{
  display: flex;
}

.searchArea{
  width: 25%;
  margin-left: auto;
  margin-bottom: 1em;
}
.filterContainer{
  width: 35%;
}

.rowForFilterSearch {
  flex-flow: nowrap;
}

.colForTreeSelect {
  width: 88%;
}

.card {
  width: 100%;
}

.customFilterDropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

@media (max-width: 765px){
  .table{
    overflow-x: scroll;
  }

  .colForButton {
    width: 12%;
    text-align: center;
  }

  .searchContainer{
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: left;
    width: 100%;
  }
  .filterContainer{
    display: flex;
    width: 100%;
  }
  .searchArea{
    width: 100%;
  }

  .okButton {
    width: 100%;
    display: flex;  
    justify-content: center;  
  }
}

.divWrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
}

.tagText {
  max-width: 100%;  
  text-overflow: ellipsis;
  overflow: hidden;
}

.parentDiv {  
  display: flex;
  align-items: center; 
}
