.menu{
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
  position: absolute;
}
.searchContainer{
  margin-bottom: 12px;
  display: flex;
}
.searchContainer > input{
  width: 300px;
}
.searchArea{
  width: 240px;
  margin-left: auto;
}
.filterContainer{
  width: 400px;
}

@media (max-width: 765px){
  .table{
    overflow-x: scroll;
  }

  .searchContainer{
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: left;
    width: auto;
  }
  .filterContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
  }
  .searchArea{
    width: 100%;
  }
}

.divWrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
}

.tagText {
  max-width: 100%;  
  text-overflow: ellipsis;
  overflow: hidden;
}

.parentDiv {  
  display: flex;
  align-items: center; 
}