<<<<<<< HEAD
#environmentOutlined{
  font-size: 24px; 
  margin-right: 20px;
}

#InfoOut{
  font-size: 32px;
}

#addonElement{
  width: 100%;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.contactsList {
  width: 20%;
}

.contactsForm {
  width: 30%;
}

.contactsForm button {
  height: 40px;
  width: 100%;
}

@media (max-width: 576px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }

  .contactsList,
  .contactsForm {
    width: 100%;
  }

  .contactsList h1 {
    margin-left: 25px;
  }

  .contactsForm {
    margin-top: 40px;
  }
}

@media (min-width: 576px)and(max-width: 768px) {
  .contacts {
    justify-content: space-around;
  }

  .contactsList {
    width: 30%;
  }
}

=======
#environmentOutlined{
  font-size: 24px; 
  margin-right: 20px;
}

#InfoOut{
  font-size: 32px;
}

#addonElement{
  width: 100%;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.contactsList {
  width: 20%;
}

.contactsForm {
  width: 30%;
}

.contactsForm button {
  height: 40px;
  width: 100%;
}

@media (max-width: 576px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }

  .contactsList,
  .contactsForm {
    width: 100%;
  }

  .contactsList h1 {
    margin-left: 25px;
  }

  .contactsForm {
    margin-top: 40px;
  }
}

@media (min-width: 576px)and(max-width: 768px) {
  .contacts {
    justify-content: space-around;
  }

  .contactsList {
    width: 30%;
  }
}

>>>>>>> origin
