.mainTitle {
  text-align: center;
  font-size: 40px;
  color: #3c5438;
  margin-bottom: 10px;
}

.createCity {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.container{
  background-color: white;
  text-align: center;
}

.container:nth-child(2){
  margin-top: 40px;
}

.cityForm {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.formField {
  display: flex;
  flex-direction: column;
}

.selectField {
  text-align: left;
}

.createButton {
  width: 100%
}

.tablesContainer{
  width: 90%;
  margin: 10px auto 20px;
  padding: 10px 0;
  overflow: hidden;
}

.backButton{
  width: 30%;
  margin-top: auto;
  margin-bottom: 20px;
}

.spiner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
