<<<<<<< HEAD
.mainContainer{
    width: 100%;
}
.formContainer{
    display: flex;
    width: 100%;
}

.avatarWrapper{
    width: max-content;
    display: flex;
    flex-direction: column;
}

.changeAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.spaceWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.loader{
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) ;
    
}
.changeAvatarBtn, .changeAvatarBtn:hover, .changeAvatarBtn:active, .changeAvatarBtn:focus{
    background-color: #3c5438;
    color: white;
    border-radius: 4px;
}

.allFields{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowBlock{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.formItem{
    display: block;
    width: 260px;
}

.dataInput{
    border-radius: 6px;
    border: 0 !important;
    padding: 5px 0 5px 7px;
    font-size: 17px;
    box-shadow: 0 0 0 !important;
    background-color: white;
    width: 100% !important;
    display: block;
}

.dataInput>div{
    border: 0 !important;
    box-shadow: 0 0 0 !important;
}

.confirmBtn{
    outline: none !important;
    border: 0;
    border-radius: 4px;
    background-color: #3c5438 !important;
    color: #dfe7f1 !important;
    margin-bottom: 30px;
    margin-top: 10px;
}

.confirmBtn:hover{
    transform: scale(1.07);
}


input,
[role="spinbutton"] {
    text-align: start;
}
.confirmBtn:hover{
    transform: scale(1.07);
}
=======
.mainContainer{
    width: 100%;
}
.formContainer{
    display: flex;
    width: 100%;
}

.avatarWrapper{
    width: max-content;
    display: flex;
    flex-direction: column;
}

.changeAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.spaceWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.loader{
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) ;
    
}
.changeAvatarBtn, .changeAvatarBtn:hover, .changeAvatarBtn:active, .changeAvatarBtn:focus{
    background-color: #3c5438;
    color: white;
    border-radius: 4px;
}

.allFields{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowBlock{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.formItem{
    display: block;
    width: 260px;
}

.dataInput{
    border-radius: 6px;
    border: 0 !important;
    padding: 5px 0 5px 7px;
    font-size: 17px;
    box-shadow: 0 0 0 !important;
    background-color: white;
    width: 100% !important;
    display: block;
}

.dataInput>div{
    border: 0 !important;
    box-shadow: 0 0 0 !important;
}

.confirmBtn{
    outline: none !important;
    border: 0;
    border-radius: 4px;
    background-color: #3c5438 !important;
    color: #dfe7f1 !important;
    margin-bottom: 30px;
    margin-top: 10px;
}

.confirmBtn:hover{
    transform: scale(1.07);
}


input,
[role="spinbutton"] {
    text-align: start;
}
.confirmBtn:hover{
    transform: scale(1.07);
}
>>>>>>> origin
