.mainContainer{
    width: 100%;
}
.formContainer{
    display: flex;
    width: 100%;
}
.avatarWrapper{
    width:  calc(60% - 30px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 40px 20px 0;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.allFields{
    width:  calc(60% - 30px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.avatarWrapper:hover,
.allFields:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

 .changeAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.changeAvatarBtn, .changeAvatarBtn:hover, .changeAvatarBtn:active, .changeAvatarBtn:focus{
    background-color: #3c5438;
    color: white;
} 

.rowBlock{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.formItem{
    display: block;
    width: 260px;
    margin: 0 0 0 0;
}

.dataInput{
    border: 0 !important;
    padding: 5px 0 5px 7px;
    font-size: 17px;
    box-shadow: 0 0 0 !important;
    background-color: white;
    width: 100% !important;
    display: block;
}

.dataInput>div{
    border: 0 !important;
    box-shadow: 0 0 0 !important;
}

.confirmBtn{
    margin: 5px 0 5px;
    background: #3C5438;
    justify-content: center;
    color: white;
    border: none;
    width: auto;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.confirmBtn:hover{
    background: #3C5438;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

input,
[role="spinbutton"] {
    text-align: start;
}
.title{
    width: max-content;
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 1.5em;
}

.line {
    background: #3C5438;
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
}

@media(max-width: 768px){
    .avatarWrapper{
        width: 100%;
        padding-top:5px;
        padding-bottom: 5px; 
    }
    .allFields{
        width: 100%;
        padding:5px;
    }
    .formItem{
        width: 100%;
    }
    .rowBlock{
        display: contents;
    }
    .formContainer{
         flex-direction: column;
    }
 }

/* @media(max-width: 1174px){
    .container{
        padding: 0 10px;
        width: 900px;
    }
    .mainContainer{
        width: 100%;
    }
}
@media(max-width: 1000px){
    .container{
        padding: 0;
        width: 640px;
    }
    .rowBlock{
        display: contents;
    }
    .mainContainer{
        width: 100%;
    }
}
@media(max-width: 768px){
    .rowBlock{
        display: contents;
    }
    .mainContainer{
        width: 100%;
    }
}
@media(max-width: 700px){
    .formContainer{
        display: contents;
    }
    .allFields{
        width: 270px;
    }
    .avatarWrapper{
        margin-left: 100px;
    }
    .allFields{
        margin-left: 100px;
    }
    .container{
        padding: 0;
        width: 500px;
    }
    .mainContainer{
        width: 100%;
    }
}
@media(max-width: 586px){
    .container{
        padding: 0;
        width: 400px;
    }
    .mainContainer{
        width: 100%;
    }
}

@media(max-width: 500px){
    .formContainer{
        display: contents;
    }
    .allFields{
        width: 270px;
    }
    .avatarWrapper{
        margin-left: 0px;
    }
    .allFields{
        margin-left: 0px;
    }
    .container{
        padding: 0;
        width: 300px;
    }
    .mainContainer{
        width: 100%;
    }
} */
.spaceWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.loader{
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) ;
    
}
