.ant-popover-message-title
{
    padding-left: 0px !important;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.buttons Button {
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
}