
.cardButton {
    display: flex;
    width: 100%;
}
.cardButton>* {
  margin-right: 8px;
}

.inputField{
    float: right;
    text-align: left;
    max-width: 320px;
    min-width: 320px;
  }
  
  .selectField {
    float: right;
    text-align: left;
    max-width: 320px;
    min-width: 320px;
  }
  
  
  .formField {
    width: 100%;
  }
 
