.editIcon {
    font-size: 24px;
    color:#3c5438;
  }
.editIcon :hover {
  color: #536150;
  cursor: pointer;
}
.addIcon {
    font-size: 36px;
    color:#3c5438;
}
.addIcon :hover{
    color: #536150;
    cursor: pointer;
}
.deleteIcon {
    font-size: 24px;
    color: #910202;
}
.deleteIcon :hover{
    color: #690606;
    cursor: pointer;
}
.addIcon {
    font-size: 40px;
}
.editDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    max-width: 100%;
    font-size: 18px;
    display: flex;
}
.inputField {
    size: 50px;
    margin-right: auto;
    float: right;
    text-align: left;
  }
  .list>* {
      width: 100%
  }



