.titleTable {
    text-align: center;
    margin-bottom: 15px;
}

/* Search container */
.searchContainer {
    display: flex;
    margin-bottom: 12px;
    justify-content: right;
    align-items: baseline;
    width: 660px;
    margin-left: auto;
}
.searchContainer > input {
    max-width: 300px;
    margin-left: auto;
}

.distinctionSearchField {
    width: auto;
}

.cardButton {
    inline-size: -webkit-fill-available;
    margin-top: 7px;
    color: #3c5438;
    border-color: #3c5438;
}
.searchContainer > * {
    margin-left: 12px;
}

.buttonsSearchField {
    justify-content: right;
}

/* Context menu right click */
@media (max-width: 800px) {
    .searchContainer {
        width: 100%;
        flex-direction: column;
    }
    .searchContainer > * {
        width: 100%;
        margin-bottom: 5px;
        margin-left: auto;
    }
}

@media (max-width: 720px) {
    .buttonsSearchField {
        justify-content: center;
    }
}

.menu {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
    position: absolute;
}
.submitButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selectedRow {
    background-color: #f4f8f1;
    box-shadow: 0 0 10px #f4f8f1;
    color: #3D5438;
}
