.cardButton {
  display: flex;
  width: 100%;
  justify-content:flex-end;
  float: right;
}
.cardButton>* {
margin-right: 8px;
} 
.formField {
  max-width: 370px;
  min-width: 370px;
}

.selectField {
  max-width: 370px;
  min-width: 370px;
}

@media(max-width: 400px) {
.formField{ 
  max-width: 100%;
  min-width: 100%;
}
.selectField {
  max-width: 100%;
  min-width: 100%;
}
}
.buttons{
  margin-right: 0px !important;
  margin-left: 7px;
}