.titleTable {
    text-align: center;
    margin-bottom: 15px;
  }

  .searchContainer {
    display: flex;
    align-items: baseline;
    margin-bottom: 12px;
    width: 425px;
    margin-left: auto; 
  }
  .searchContainer>input{
    max-width: 300px;
    margin-left: auto; 
  }

  .cardButton{
    inline-size: -webkit-fill-available;
    margin-top: 7px;
    color:#3c5438;
    border-color: #3c5438;
  }
  .searchContainer>* {
    margin-left: 12px;
  }
  
  /* Context menu right click */
  @media(max-width: 800px){
    .searchContainer{
      width: 100%;
      flex-direction: column;
      
    }
    .searchContainer>input{
      max-width: 100%;
      margin-left: auto; 
    }
    .searchContainer>button{
      width: 100%;
      margin-bottom: 10px;
      margin-left: auto; 

    }
  }
 
.link{
  color: blue;
}
  
.IDcolumn{
  text-align: center;
}

.Namecolumn{
  background-color: rgb(247, 245, 245);
  font-weight: 400;
  text-align: center;
}

  .menu {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
    position: absolute;
  }

  @media (max-width: 1350px){
    .table{
      overflow-x: scroll;
    }
  }

