.titleTable {
    text-align: center;
    margin-bottom: 15px;
  }

  .searchInput{
      width: 200px;
  }


  .menu {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
    position: absolute;
  }

  @media (max-width: 800px){
    .table{
      overflow-x: scroll;
    }
  }