.titleTable {
    text-align: center;
    margin-bottom: 15px;
  }

  .searchInput{
    width: 200px;
    }
    
  @media (max-width: 391px){
    .searchInput{
    width: 100%;
    }
  }


 

  


  .menu {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
    position: absolute;
  }

  @media (max-width: 1350px){
    .table{
      overflow-x: scroll;
    }
  }

  @media (max-width: 391px){
    .addKadraButton{
    width: 100%;
    }
  }

  .addKadraButton{
    float: right;
  }