.titleTable {
    text-align: center;
    margin-bottom: 15px;
  }

  .searchInput{
    width: 200px;
    }
    
  @media (max-width: 395px){
    .searchInput{
    width: 100%;
    }
  }


 
.link{
  color: blue;
}
  
.IDcolumn{
  text-align: center;
}

.Namecolumn{
  background-color: rgb(247, 245, 245);
  font-weight: 400;
  text-align: center;
}

  .menu {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
    position: absolute;
  }

  @media (max-width: 1350px){
    .table{
      overflow-x: scroll;
    }
  }

  @media (max-width: 395px){
    .addKadraButton{
    width: 100%;
    }
  }

  .addKadraButton{
    float: right;
  }