.antbtn {
  margin-bottom: 12px !important;
  width: 200px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.demo-loadmore-list {
  min-height: 350px;
}

.listItem {
  display: block;
  outline: 1px solid rgb(211, 208, 208);
  height: 175px;
  padding-left: 28px;
}

.isImagePresentIcon {
  font-size: 26px;
  float: right;
  margin-right: 3%;
  margin-top: 3%;
}

.listItemMeta {
  margin-left: 5%;
}

.metaWrapper {
  display: block;
  position: relative;

  background-image:linear-gradient(70deg, rgb(199, 233, 155), rgb(106, 199, 114));
  margin-left:-30px;
  width:auto;
}

.menu {
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2) !important;
  position: absolute;
}

.avatar{
  margin-top: 18%;
}

.announcementDate{
  text-align: right;
  color:rgb(134, 134, 134);
}

.homeSlider {
  @media(max-width: 280px) {
    padding-left: 8px;
    padding-right: 8px;
      }
  @media (max-width: 376px) and (min-width:319px) {
    width: 100%;
    height: 300px;
    padding-left: 8px;
    padding-right: 8px;
  }
  @media (max-width: 540px) and (min-width:411px) {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 540px) and (min-width:412px) {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 767px) and (min-width:541px) {
    width: 100%;
    height: 300px;

  }
  @media (min-width: 768px) {
    width: 80%;
    padding-left: 45px;
    padding-right: 45px;
  }
  margin: 0px auto 10px;

  overflow: hidden;
  scrollbar-arrow-color: lightcoral;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  left: 10px;
  z-index: 2;
  color: #3c5438;
  font-size: 20px;
  height: 90px;
  @media(max-width: 540px) and (min-width:411px){
    left:-4px;
      }
  @media(max-width: 376px) and (min-width:319px){
    left:-7px;
    font-size: 14px;
      }
  @media(max-width: 280px) {
    left:-7px;
    font-size: 14px;
      }

}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  right: 10px;
  z-index: 2;
  color: #3c5438;
  font-size: 20px;
  height: 30px;
  @media(max-width: 540px) and (min-width:411px){
    right:-4px;
      }
  @media(max-width: 376px) and (min-width:319px){
    right:-7px;
    font-size: 14px;
      }
  @media(max-width: 280px) {
    right:-7px;
    font-size: 14px;
      }
}