.wrapper {
    display: flex;
    width: 100%;
}

.wrapperCol {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20px;
}
.wrapperGeneralInfo {
    padding: 20px 0px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: center;
}

.textBlock {
    padding: 10px 10px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.wrapperScrollDegree{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px 0px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    width: 100%;
    max-width: 820px;
}

.wrapperPlastDegree{
    min-width: 650px;
    max-width: 820px;
    height: auto;
    min-height: 200px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: center;
}

.wrapperGeneralInfo:hover,
.wrapperScrollDegree:hover,
.avatarWrapper:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.wrapperGeneralInfo,
.wrapperScrollDegree,
.avatarWrapper {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.wrapperGeneralInfo,
.wrapperScrollDegree {
    margin: 0px 0px 20px 20px;
}

.avatarWrapper{
    width:  calc(60% - 30px) !important;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 0 20px 0;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media (min-width: 875px) and (max-width: 1480px){
    .date::after{
        content: "\A";
        white-space: pre;
    }
}

@media (max-width: 875px){
    .textListItem
    {
        padding: 6px 0px;
        clear: left;
    }
}


@media (min-width: 769px) and (max-width: 1048px){
    .wrapperGeneralInfo,
    .wrapperScrollDegree {
        margin: 0px 0px 20px 10px;
    }
    .avatarWrapper{
        width:  calc(50% - 30px) !important;
        padding-top:5px;
        padding-bottom: 5px;
    }
    
    .textBlock {
        padding: 10px 10px 10px;
    }
    .wrapperCol {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 10px;
    }
    .wrapper {
        width: 99%;
    }
    .buttonChange{
        width: 170px !important;
    }
}
@media (max-width: 768px) {

    .avatarWrapper{
        width: 100% !important;
        padding-top:5px;
        padding-bottom: 5px;
    }
    .wrapper {
        flex-direction: column;
    }
    
    .wrapperCol,
    .wrapperGeneralInfo,
    .wrapperScrollDegree {
        width: 100%;
        margin: 0;
    }
    .wrapperGeneralInfo,
    .wrapperScrollDegree {
        margin: 10px 0;
    }  
    .buttonChange{
        width: 170px !important;
    }
}

.textList
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    
}

.textListItem
{
    font-size : 16px;
    padding: 6px 10px;
    float: left;
}



.buttonChange {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #3C5438;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    border: none;
    width: 200px;
    height: 30px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.line {
    background: #3C5438;
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
}

#line{
    margin-bottom: 125px;
}

.button {
    margin-top: 20px;
    margin-left: 10px;
    background: #3C5438;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    border: none;
    width: 200px;
    height: 30px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.buttons{
    display : flex;
    justify-content: center;
}
.buttonInside {
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#subcribeButton{
    width: auto;
}

.button:hover,
.buttonCansel:hover {
    border: none;
    outline: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.buttonCansel {
    width: auto;
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.textFieldsMain,
.textFieldsOthers
{
    margin-left : auto;
    margin-right : auto;
}

.textGeneralInfo
{
    text-align : left;
    margin-left : 0px;
    margin-right: auto;
    margin-top: 5px;
    font-size : 16px;
}

.textFieldsMain{
    font-size : 18px;
}
.textFieldsOthers{
    font-size : 16px;
}

.modal {
    text-align: center;
    align-self: center;
}

.icon{
    display: flex;
    justify-content: center;
}
