.wrapper {
    display: flex;
    width: 100%;
}

.wrapperCol {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20px;
}
.wrapper2,
.wrapper3 {
    width: 400px;
    height: 250px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 20px;
}
.wrapperPlastDegree{
    width: 900px;
    height: auto;
    min-height: 200px;
    max-height: 700px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: center;
    padding: 20px 0px;
}
.wrapper4,
.wrapper5 {
    width: calc(50% - 30px);
    height: 250px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.wrapper2:hover,
.wrapper3:hover,
.wrapper4:hover,
.wrapper5:hover,
.wrapperPlastDegree:hover,
.wrapperImg:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5,
.wrapperPlastDegree,
.wrapperImg {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.wrapper2,
.wrapper3,
.wrapper4,
.wrapperPlastDegree,
.wrapper5 {
    margin: 0px 0px 20px 20px;
}

.avatarWrapper{
    width:  calc(60% - 30px) !important;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 0 20px 0;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media(max-width: 768px){
    .avatarWrapper{
        width: 100% !important;
        padding-top:5px;
        padding-bottom: 5px;
    }
}

.wrapperImg {
    width:  calc(60% - 30px);
    height: 521px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
    }
    .wrapperImg {
        width: 100%;
        padding: 0;
        margin: 0 0 10px;
        text-align: center;
    }
    .wrapperCol,
    .wrapper2,
    .wrapper3,
    .wrapper4,
    .wrapper5 {
        width: 100%;
        margin: 0;
    }
    .wrapper2,
    .wrapper3,
    .wrapper4,
    .wrapper5 {
        margin: 10px 0;
    }
}

.buttonChange {
    margin-top: 10px;
}

.line {
    background: #3C5438;
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
}

#line{
    margin-bottom: 125px;
}

.button {
    margin-top: 20px;
    margin-left: 10px;
    background: #3C5438;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    border: none;
    width: 200px;
    height: 30px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.buttons{
    display : flex;
    justify-content : flex-start;
}
.buttonInside {
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#subcribeButton{
    width: auto;
}

.button:hover,
.buttonCansel:hover {
    border: none;
    outline: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.buttonCansel {
    width: auto;
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.textFieldsMain,
.textFieldsOthers
{
    text-align : left;
    margin-left : 50px;
}

.textGeneralInfo
{
    text-align : left;
    margin-left : 20px;
    margin-right: auto;
    margin-top: 5px;
    font-size : 16px;
}

.textFieldsMain{
    font-size : 18px;
}
.textFieldsOthers{
    font-size : 16px;
}

.modal {
    text-align: center;
    align-self: center;
}

#button {
    align-items: center;
    margin: 10px auto;
    display: inline-block;
    margin: 10px 0 0 65px;
    flex-grow: 1;
}

.sectionTitle {
    text-align: center;
}

.spaceWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

.loader {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    font-size: 21px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

.icon{
    display: flex;
    justify-content: center;
}

h2 {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

