.profilePhoto {
    text-align: center;
    margin: 5px 0;
}

.profilePhoto img {
    max-width: 80px;
}

.sidebar {
    position: fixed;
    height: 100vh;
    z-index: 200;
    top: 0;
    box-shadow: 2px 0 5px 2px #00000066;
}

.backButton {
    position: fixed;
    width: 36px !important;
    background-color: #3c5438;
    color: white;
    z-index: 2;
    top: 120px;
    left: 0;
}