


.inputField{
    float: right;
    text-align: left;
    max-width: 320px;
    width:320px;
  }

  @media (max-width: 576px){
    .inputField{
    width: 100%;
    }
  }

  
  .selectField {
    float: right;
    text-align: left;
    width:320px;
   
  }
  
  
  .formField {
    width: 100%;
  }

  .cardButton{
    float: right;
    inline-size: -webkit-fill-available;
    margin-top: 7px;
    color:#3c5438;
    border-color: #3c5438;
    max-width: 320px;
    min-width: 320px;
  }