.background {
    background-color: rgb(238, 238, 238);
}

.actionsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    margin-top: 40px;
    width: 600px;
    height: auto;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

form {
    width: 100%;
}

.label {
    background-color: #3c5438;
    color: #f0f8ff;
    margin: 17px;
    border-radius: 3px;
    padding: 8px;
    text-align: center;
    width: 150px;
}
[type='radio']{
    margin-right: 7px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 16px 45px;
}

.select:hover,
.select:focus,
input:hover,
.select1:hover {
    outline: 0;
    border-color: #3c5438 !important;
}

.input {
    width: 235px !important;
}

td,tr {
    padding: 14px;
}

.select {
    width: 235px !important;
}

input,
[role="spinbutton"] {
    text-align: end;
}

[role="spinbutton"] {
    margin-left: -20px;
}
.button{
    margin-top: 10px;
    color: white;
    border: none;
    width: 138px;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 416px;
    margin-bottom: 15px;
}

.button:hover{
    border: none;
    outline: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
