.displayFlex{
    display: flex;
}

.avatarWrapper{
    width:  calc(70% - 30px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 40px 20px 0;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.approversCard{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.cardStyles{
    margin: 15px;
    width: 177px;
    background: transparent;
}
.cardBody{
    padding: 0;
}
.cardButton{
    inline-size: -webkit-fill-available;
    margin-top: 7px;
    color:#3c5438;
    border-color: #3c5438;
}
.cardBodyEmpty{
    height: 70px;
}
.cardP{
    height: 25px;
}
.titleText{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.titleText:hover{
    text-decoration: underline;
}
.avatar{
    height: 168px;
}
.approversContent{
    width:  calc(60% - 30px);
    height: calc(81vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 40px 20px 0;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.approversContent:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.line {
    background: #3C5438;
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
}

@media(max-width:767px){
    .displayFlex{
        flex-direction: column;
    }
    .approversContent{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}
// @media(max-width: 1174px){
//     .approversContent{
//         margin-left: 0;
//     }
// }
// @media(max-width: 1000px){
  
//     .approversCard{
//         display: block;
//     }
// }
// @media(max-width: 824px){
//     .displayFlex{
//         display: block;
//     }
// }
// @media(max-width: 586px){
//     .approversCard{
//         display: block;
//     }
// }
