.headerContainer {
    justify-content: space-between;
    padding: 0 80px;
    position: fixed;
    z-index: 300;
    width: 100%;
    box-shadow: 0px 1px 4px 3px #00000021;
    user-select: none;
    display: flex;
    align-self: center;
}

.headerMenu {
    color: white;
    border: none;
    font-size: 16px;
}

.MenuWidth {
    width: 340px;
}

.headerMenu :hover {
    color: white;
}

.headerDropDownItem {
    margin: 0px 0;
}

.headerItem,
.headerDropDownItem {
    border: none !important;
    user-select: none;
}

.headerItem:hover,
.headerDropDownItem:hover {
    border: none !important;
    color: wheat !important;
}

.headerLink {
    color: white !important;
    padding-top: 5px;
}

.headerLink:hover {
    color: wheat !important;
}

.activeLink {
    color: wheat !important;
}

.headerIcon {
    margin-left: 0px;
    font-size: 16px !important;
}

.headerIcon:hover {
    color: wheat;
}

.headerLogo img:first-child {
    width: 45px;
    margin-top: -5px;
}

.headerLogo img:nth-child(2) {
    width: 60px;
    margin-left: 15px;
}

.userMenu {
    border: none;
    background: inherit;
    color: white !important;
    user-select: none;
    font-size: 14px;
}

.userMenu:hover {
    color: wheat !important;
}

.dropDownMenu {
    margin-top: 20px;
}

.dropDownIcon {
    margin-right: 5px;
    font-size: 16px;
}

.ant-drawer-header {
    width: auto;
    @media (max-width: 768px) {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .headerContainer {
        color: white !important;
        padding: 0 15px;
    }
    .headerMenu {
        color: white !important;
    }
    .headerMenu :hover {
        color: white !important;
    }
    .headerMenu:nth-child(2) {
        min-width: 0;
        max-width: 100px;
    }
}