.notificationWrapper{
    display: flex;
    align-self: center;
    width: 1100px;
    height: 150px;
    background-color: #f7f9fc;
    box-shadow: 0 0 15px 1px rgba(0,0,0,.25);
    margin-top: 45px;
    border-radius: 10px;
}

.title{
    margin: 30px auto 0 auto;
}
