.feedbackRate {
  font-size: 1.1em;
  color: var(--antd-wave-shadow-color);

  .ant-rate-star {
    margin-right: 4px;
  }
}

.feedback {
  .ant-comment-content {
    .ant-comment-content-author {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      align-content: center;
    }
  }
}
