.generalLabel {
  border-radius: 6px;
  border: 0 !important;
  padding: 5px 0 5px 7px;
  box-shadow: 0 0 0 !important;
  background-color: rgba(210, 210, 210, 0.5);
  display: block;
  font-weight: bold;
}

.event-data-input {
  .generalLabel();
  @media (max-width: 280px) {
    width: 200px;
  }
  width: 275px;
  font-size: 17px;
  text-align: center;
}

.dataDescription {
  .generalLabel();
  @media (max-width: 280px) {
    min-width: 200px;
  }
  min-width: 275px;
  max-width: 420px;
  max-height: 100px;
  overflow: auto;
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

.eventLabel {
  font-size: 20px;
  color: #3c5438;
  font-weight: bold;
}
