@plast-color: #3c5438;
@plast-color-hover: #73bd79;
@cancelation-color: #8B0000;
@cancelation-color-hover: #FF0000;

.event-info-background {
  padding: 20px 20px 20px 20px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventActions{
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventActions{
  @media (max-width: 768px)and (min-width: 280px) {
    margin-right: 5px;
    text-size-adjust: scale(0.5);
  }
}

.event-info-wrapper {
  width: 90%;
  margin: 0 auto;
}

.eventGallary{
  width: 100%;
  margin-top: 40px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10vw;  
}

.upploadButton{
  @media (max-width: 280px) {
    margin-left: -37px;
    transform: scale(0.8);
  }
  @media (max-width: 320px) and (min-width:290px){
    margin-left: -30px;
    transform: scale(0.9);
  }
}

.picturesWall{
  @media (max-width: 280px) {
    width: 150px;
  }
  @media (max-width: 320px) and (min-width:290px){
    width: 170px;
  }
}

.participantsTable{
  width: 100%;
  margin-top: 40px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventGallary:hover,
.participantsTable:hover,
.eventActions:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.actionsWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.imgEvent {
  @media (max-width: 320px) {
    width: 230px;
  }
  @media (max-width: 280px) {
    width: 190px;
  }
  @media (min-width: 360px) {
    width: 272px;
    height: 323px;
  }
  margin: 0 15px 15px 6px;
}

.iconsFlexBase {
  display: flex;
  justify-content: space-around;
  font-size: 34px;
  text-align: center;
  align-items: center;
}

.iconsFlex {
  .iconsFlexBase();
  @media (max-width: 320px) {
    width: 240px;
  }
  @media (max-width: 280px) {
    width: 200px;
  }
  @media (min-width: 360px) {
    width: 278px;
  }
}

.rateFlex {
  .iconsFlexBase();
  border-color: black !important;
  box-shadow: 0 0 0 !important;
  background-color: rgba(210, 210, 210, 0.5);
  margin-top: 7px;
  padding-bottom: 6px;
}

.icon {
  @media (max-width: 300px) {
    font-size: 25px !important;
  }
  @media (min-width: 320px) {
    font-size: 30px !important;
  }
}

.icon:hover {
  color: @plast-color-hover;
}

tr {
  font-size: 15px;
  font-weight: 300;
}

td {
  /* width: 450px; */
  font-weight: 300;
}

.homeSlider {
  @media(max-width: 280px) {
    padding-left: 8px;
    padding-right: 8px;
      }
  @media (max-width: 376px) and (min-width:319px) {
    width: 100%;
    height: 300px;
    padding-left: 8px;
    padding-right: 8px;
  }
  @media (max-width: 540px) and (min-width:411px) {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 540px) and (min-width:412px) {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 767px) and (min-width:541px) {
    width: 100%;
    height: 300px;

  }
  @media (min-width: 768px) {
    width: 80%;
    padding-left: 45px;
    padding-right: 45px;
  }
  margin: 0px auto 10px;

  overflow: hidden;
  scrollbar-arrow-color: lightcoral;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  left: 10px;
  z-index: 2;
  color: #3c5438;
  font-size: 20px;
  height: 90px;
  @media(max-width: 540px) and (min-width:411px){
    left:-4px;
      }
  @media(max-width: 376px) and (min-width:319px){
    left:-7px;
    font-size: 14px;
      }
  @media(max-width: 280px) {
    left:-7px;
    font-size: 14px;
      }

}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  right: 10px;
  z-index: 2;
  color: #3c5438;
  font-size: 20px;
  height: 30px;
  @media(max-width: 540px) and (min-width:411px){
    right:-4px;
      }
  @media(max-width: 376px) and (min-width:319px){
    right:-7px;
    font-size: 14px;
      }
  @media(max-width: 280px) {
    right:-7px;
    font-size: 14px;
      }
}

@media (max-width: 767px) {
 .eventActions{
   width: 100%;
   display: contents;
  }
  .rateFlex{
    width: 100%;
    margin-bottom: 40px; 
  }  
  .eventGallary{
    width: 100%;
 }
 .participantsTable{
  width: 100%;
}
}

.eyeDetails {
  color: @plast-color !important;

  &:hover {
    color: @plast-color-hover !important;;
  }
}

.deletePicture {
  color: @cancelation-color !important;

  &:hover {
    color: @cancelation-color-hover !important;
  }
}

.event-admin-card {
  .ant-card-head-title {
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }

  .ant-card-body {
    font-size: 16px;
    color: black;
    text-align: center;
    
    &:hover {
      color: @plast-color;
      text-decoration: underline;
    }
  }
}

.participant-table {
  overflow: auto;
  width: 100%;

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    position: relative;
    padding: 16px 16px;
    overflow-wrap: break-word;
    background: #fafafa;
  }
}