@plast-color: #3c5438;
@plast-color-hover: #73bd79;
@cancelation-color: #8b0000;
@cancelation-color-hover: #ff0000;

.event-breadcrumb {
  margin-top: 7px;
  padding: 3px 0 3px 0;
  width: 100%;
  text-align: center;
}

.modal-warning-icon {
  color: var(--antd-wave-shadow-color);
  font-size: 45px !important;
}

.modal-warning {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 13px;
}

.modal-warning-description {
  margin: 0;
  max-width: 85%;
}

.event-info-background {
  padding: 20px 20px 20px 20px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.eventActions {
  width: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10px 0 10px;
  flex: 1 1;

  @media (max-width: 800) {
    flex-direction: column;
  }
}

.event-info-header {
  margin-right: 10px;
  width: 900px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;

  @media (max-width: 1300px) {
    width: 100%;
  }
}

.eventGallary {
  width: calc(100% - 900px);
  padding: 20px 20px 20px 20px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10vw;

  @media (max-width: 1300px) {
    width: 100%;
    margin-top: 40px;
  }
}

.event-info-and-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;

  @media (max-width: 1300px) {
    flex-direction: column;
    justify-content: center;
  }
}

.upload-button {
  display: flex;
  flex-direction: column;
}

.picturesWall {
  width: 100%;
  margin: 0;
}

.ant-card-cover img {
  object-fit: cover;
}

.admin-card .ant-card-cover > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  aspect-ratio: 1 / 1;
  height: auto;
  width: 100%;
}

.admin-card-hoverable > .ant-card-body:hover {
  text-decoration: none;
  color: black;
}

.galleryImg .ant-image-img {
  width: auto;
  height: 200px;
  display: block;
  @media (max-width: 740px) {
    height: 150px;
  }
}

.galleryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  align-content: flex-start;
  @media (max-width: 740px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }
}

.gallery-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  .edit-icon {
    font-size: 23px;
    color: var(--antd-wave-shadow-color);
    padding-left: 10px;
  }
}

.admin-gallery-modal {
  width: 800px !important;
}

.participantsTable {
  width: 100%;
  margin: 40px 5px 0 5px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  flex-direction: column;
}

.participantsTable div > .ant-row {
  justify-content: center;
}

.eventGallary:hover,
.participantsTable:hover,
.event-info-header:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.actionsWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.imgEvent {
  @media (max-width: 320px) {
    width: 230px;
  }
  @media (max-width: 280px) {
    width: 190px;
  }
  @media (min-width: 360px) {
    width: 272px;
    height: 323px;
  }
  margin: 0 15px 15px 6px;
}

.iconsFlexBase {
  display: flex;
  justify-content: space-around;
  font-size: 34px;
  text-align: center;
  align-items: center;
}

.feedbackInfo {
  padding-left: 7px;
  color: #999;
  font-size: 0.4em;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.iconsFlex {
  .iconsFlexBase();
  @media (max-width: 320px) {
    width: 240px;
  }
  @media (max-width: 280px) {
    width: 200px;
  }
  @media (min-width: 360px) {
    width: 278px;
  }
}

.rateFlex {
  .iconsFlexBase();
  border-color: black !important;
  box-shadow: 0 0 0 !important;
  margin-top: 7px;
  padding-bottom: 6px;
  align-items: baseline;
}

.rateFlex .ant-rate-star {
  color: #3c5438;
  stroke: #3c5438;
  stroke-width: 10px;
}

.icon {
  @media (max-width: 300px) {
    font-size: 25px !important;
  }
  @media (min-width: 320px) {
    font-size: 30px !important;
  }
}

.icon:hover {
  color: @plast-color-hover;
}

tr {
  font-size: 15px;
  font-weight: 300;
}

td {
  /* width: 450px; */
  font-weight: 300;
}

.homeSlider {
  @media (max-width: 280px) {
    padding-left: 8px;
    padding-right: 8px;
  }
  @media (max-width: 376px) and (min-width: 319px) {
    width: 100%;
    height: 300px;
    padding-left: 8px;
    padding-right: 8px;
  }
  @media (max-width: 540px) and (min-width: 411px) {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 540px) and (min-width: 412px) {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 767px) and (min-width: 541px) {
    width: 100%;
    height: 300px;
  }
  @media (min-width: 768px) {
    width: 80%;
    padding-left: 45px;
    padding-right: 45px;
  }
  margin: 0px auto 10px;

  overflow: hidden;
  scrollbar-arrow-color: lightcoral;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  left: 10px;
  z-index: 2;
  color: #3c5438;
  font-size: 20px;
  height: 90px;
  @media (max-width: 540px) and (min-width: 411px) {
    left: -4px;
  }
  @media (max-width: 376px) and (min-width: 319px) {
    left: -7px;
    font-size: 14px;
  }
  @media (max-width: 280px) {
    left: -7px;
    font-size: 14px;
  }
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  right: 10px;
  z-index: 2;
  color: #3c5438;
  font-size: 20px;
  height: 30px;
  @media (max-width: 540px) and (min-width: 411px) {
    right: -4px;
  }
  @media (max-width: 376px) and (min-width: 319px) {
    right: -7px;
    font-size: 14px;
  }
  @media (max-width: 280px) {
    right: -7px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .event-info-header {
    justify-content: center;
  }
  .eventGallary {
    width: 100%;
  }
  .participantsTable {
    width: 100%;
  }
}

.eyeDetails {
  color: @plast-color !important;

  &:hover {
    color: @plast-color-hover !important;
  }
}

.deletePicture {
  color: @cancelation-color !important;

  &:hover {
    color: @cancelation-color-hover !important;
  }
}

.event-admin-card {
  .ant-card-head-title {
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }

  .ant-card-body {
    font-size: 16px;
    color: black;
    text-align: center;

    &:hover {
      color: @plast-color;
      text-decoration: underline;
    }
  }
}

.participant-table {
  overflow: auto;
  width: 100%;

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    position: relative;
    padding: 16px 16px;
    overflow-wrap: break-word;
    background: #fafafa;
  }
}
