
.iconUnderReview{
    color:#000000;
}

.iconParticipant{
    color:#ffffff;
}

.approveButton{
    background-color: #007E33 !important;
}

.approveButton:hover{
    background-color: #00C851 !important;
}

.underReviewButton{
    background-color: #FF8800 !important;
}

.underReviewButton:hover{
    background-color: #ffbb33 !important;
}

.banButton{
    background-color: #CC0000 !important;
}

.banButton:hover{
    background-color: #ff4444 !important;
}