.loginRegisterSwitcher {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

.loginRectangle {
    position: relative;
    border-radius: 5px;
    background-color: rgba(55, 73, 84, 0.702);
    width: 100%;
    height: 56px;
    overflow: hidden;
}

.circleWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    top: -12px;
    display: flex;
    justify-content: center;
}

.loginCircle {
    border-radius: 100%;
    background-color: #3c5438;
    width: 82px;
    height: 82px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orSwitcher {
    font-size: 33px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 0;
}

.SwitcherText {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    font-size: 25px !important;
    color: rgb(164, 168, 171);
    display: flex;
    align-items: center;
}

.loginText {
    margin-left: 10px;
    margin-right: auto;
    color: white;
    transition: color linear 0.5s;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.activeRectangle {
    position: absolute;
    background-color: #3c5438;
    width: 50%;
    height: 100%;
    transition: all linear 0.5s;
    z-index: -1;
}

.registerText {
    margin-right: 10px;
    transition: color linear 0.5s;
    cursor: pointer;
    margin-top: 20px;
}

#activeLoginText{
    color: rgb(255, 255, 255);
}

#activeRegisterText{
    color: rgb(255, 255, 255);
}

.loginText:hover{
    text-decoration: unset;
}

#registerActive {
    transform: translate(100%, 0);
}

#loginActive{
    transform: translate(0%, 0);
}

.registerText:hover ~ #loginActive {
    transform: translate(100%, 0);
}

.loginText:hover ~ #registerActive {
    transform: translate(0%, 0);
}

.registerText:hover, .loginText:hover {
    color: rgb(255, 255, 255);
}

@media(max-width:700px){
    .loginText{
        font-size:22px;
    }

    .registerText{
        font-size:22px;
    }
    .orSwitcher{
        font-size:30px;
    }
}

@media(max-width: 600px){
    .loginText{
        font-size:17px;
        margin-top: 15px;
    }

    .registerText{
        font-size:17px;
        margin-top: 15px;
    }
    .orSwitcher{
        font-size:28px;
        margin-bottom: 5px;
    }
}

@media(max-width: 480px){
    .loginText{
        font-size: 15px;
        margin-top: 15px;
        margin-left: 5px;
    }
    .registerText{
        font-size: 15px;
        margin-top: 15px;
        margin-right: 5px;
    }
    .orSwitcher{
        font-size:24px;
        margin-bottom: 7px;
    }
    .loginCircle{
       transform: scale(0.7);
    }
    .loginRectangle{
        height: 40px;
        margin-top: 10px;
    }
}

@media(max-width: 410px){
    .loginText{
        font-size: 13px;
        margin-top: 12px;
        margin-left: 5px;
    }
    .registerText{
        font-size: 13px;
        margin-top: 12px;
        margin-right: 5px;
    }
    .orSwitcher{
        font-size:24px;
        margin-bottom: 7px;
    }
    .loginCircle{
        transform: scale(0.7);
    }
}

@media(max-width: 370px){
    .loginText{
        font-size:11px;
        margin-top: 11px;
        margin-left: 6px;
    }

    .registerText{
        font-size: 11px;
        margin-top: 11px;
        margin-left: 6px;
    }
    .orSwitcher{
        font-size:20px;
        margin-bottom: 5px;
    }
    .loginCircle{
        transform: scale(0.7);
    }
    .loginRectangle{
        height: 40px;
        margin-top: 10px;
    }
}

@media(max-width: 350px){
    .loginText{
        font-size:9px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .registerText{
        font-size: 9px;
        margin-top: 5px;
        margin-right: 5px;
    }
    .orSwitcher{
        font-size:18px;
        margin-bottom: 6px;
    }
    .loginCircle{
        transform: scale(0.5);
    }
    .loginRectangle{
        height: 30px;
        margin-top: 15px;
    }
}

@media(max-width: 350px){
    .loginText{
        font-size:9px;
        margin-top: 8px;
        margin-left: 5px;
    }

    .registerText{
        font-size: 9px;
        margin-top: 8px;
        margin-right: 5px;
    }
    .orSwitcher{
        font-size:18px;
        margin-bottom: 2px;
    }
    .loginCircle{
        transform: scale(0.5);
    }
    .loginRectangle{
        height: 30px;
        margin-top: 15px;
    }
}