.mainContainerReset{
    margin: 40px 0;
    background-color: white;
    width: 590px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 20px 40px;
    margin: auto;
    vertical-align: middle;
    margin-top: 45px;
}

.ResetPasswordInput{
    background: #f7f9fc !important;
    border: 0 !important;
    outline: none !important;
    text-indent: 8px !important;
    height: 44px !important;
    border-bottom: 1px solid #dfe7f1 !important;
    width: 100% !important;
    text-align: left;
}

#confirmButton{
    margin-top: 15px;
    border: 0;
    color: white;
    background-color: #3c5438;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .28rem;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: none;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 32px;
}

.resetPasswordContainer{
    background-color: #3c5438;
    border:0;
    border-radius: .28rem;
    color:white;
    width:100%;
    font-size: 18px;
    width:100%;
    height:40px;
    margin-bottom: 20px;
    text-align: center;    
}

@media(max-width: 700px){
    .mainContainerReset{
        width: 520px;
    }
    .resetPasswordContainer{
        font-size: 15px;
    }
}

@media(max-width: 600px){
    .mainContainerReset{
        width: 450px;
    }
    .resetPasswordContainer{
        font-size: 14px;
    }
}

@media(max-width: 480px){
    .mainContainerReset{
        width: 380px;
    }
    .resetPasswordContainer{
        font-size: 14px;
    }
}

@media(max-width: 410px){
    .mainContainerReset{
        width: 350px;
    }
}

@media(max-width: 370px){
    .mainContainerReset{
        width: 320px;
    }
}

@media(max-width: 350px){
    .mainContainerReset{
        width: 280px;
    }
}