.annualreport-modal {
    .textCenter {
        text-align: center;
    }

    .container {
        width: 100%;
    }
}

.linkText {
    font-size: 14px;
}
.ClubAnnualReportInformationDescription {
    word-break: break-word;
}

.clubAnnualReportInformationCol {
    margin-left: 10px;
}
