@import '~antd/dist/antd.less';

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 64px 0 0;
}

 .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
 .ant-menu-submenu-active {
   color: wheat;
 }

.ant-form-inline .ant-form-item-with-help{
  margin-bottom: 0;
}

.ant-layout-sider-zero-width-trigger {
  margin: 10px 0 0;
}

.ant-layout-sider {
  &.ant-layout-sider-collapsed  {
    box-shadow: none;
  }

  .ant-layout-sider-children {
    padding: 15px 0 0;
    margin: 64px 0 0;
    overflow-y: auto;
    height: calc(100% - 64px);
  }
}

.ant-menu-submenu-popup {
  .ant-menu.ant-menu-sub{
    background-color:#3c5438;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #8786866b;
}

::-webkit-scrollbar-thumb {
  background: #456141;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c5438;
}
