<<<<<<< HEAD
.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 20px;
}
.wrapperCol{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
}
.wrapperImg{
    width: 41%;
    height: 411px;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px 0;
}
h1{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    font-size: 21px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}
h2{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.line{
    background: #3C5438;
    width: 100%;
    height: 10.12px
}
.button{
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    width: 138px;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover{
    border: none;
    outline: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.buttonCansel{
    width: auto;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.wrapper2,
.wrapper3{
    width: 270px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding-top: 40px;
}
.wrapper2{
    margin: 20px 0px 20px 0px;
}
.wrapper3{
    margin: 20px 0px 20px 20px;

}
.wrapper4{
    width: 100%;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    cursor: pointer;
    margin: 0 0 0 20px;
}
.modal{
    text-align: center;
    align-self: center;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
=======
.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 20px;
}
.wrapperCol{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
}
.wrapperImg{
    width: 41%;
    height: 411px;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px 0;
}
h1{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    font-size: 21px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}
h2{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.line{
    background: #3C5438;
    width: 100%;
    height: 10.12px
}
.button{
    margin-top: 10px;
    background: #3C5438;
    color: white;
    border: none;
    width: 138px;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover{
    border: none;
    outline: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.buttonCansel{
    width: auto;
    height: 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.wrapper2,
.wrapper3{
    width: 270px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding-top: 40px;
}
.wrapper2{
    margin: 20px 0px 20px 0px;
}
.wrapper3{
    margin: 20px 0px 20px 20px;

}
.wrapper4{
    width: 100%;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    cursor: pointer;
    margin: 0 0 0 20px;
}
.modal{
    text-align: center;
    align-self: center;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
>>>>>>> 5f13343c48a83b4427c8b26e0f4ee86ad7bf0544
}