.fileIcon{
    font-size: 30px;
}
.deleteIcon{
    font-size: 20px;
    color: #910202;
}
.deleteIcon:hover{
    color: #690606;
    cursor: pointer;
}

.downloadIcon{
    font-size: 20px;
    color: #3C5438
 }
 .downloadIcon:hover{
     cursor: pointer;
    color: #273625
 }
 
.reviewIcon{
    font-size: 20px;
    color: #3C5438;
 }

 .demoInfiniteContainer {
    overflow: auto; 
    padding: 2px 6px;
    height: 420px;
  }
  .demoLoadingContainer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }